{% extends 'mainapp/base.html' %}
{% load static %}

{% block title %}
    {{ title|capfirst }}
{% endblock %}

{% block content %}
<!-- START PAGE-CONTENT -->
    <div class="container">
        {% include 'mainapp/includes/inc-navi.html' %}
        <div class="row">
            <div class="col-md-3">
                <!-- CATEGORY-MENU-LIST START -->
                {% include 'mainapp/includes/inc-left_category.html' %}
                <!-- END CATEGORY-MENU-LIST -->
                <!-- START SMALL-PRODUCT-AREA -->
                {% include 'mainapp/includes/inc-left_bestseller.html' %}
                <!-- END SMALL-PRODUCT-AREA -->
            </div>
            <div class="col-md-9">
                <!-- START PRODUCT-BANNER -->
                {% include 'mainapp/includes/inc-product_banner.html' %}
                <!-- END PRODUCT-BANNER -->
                <!-- Start Shopping-Cart -->
                <div class="shopping-cart">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="cart-title">
                                <h2 class="entry-title">
                                    Ваша корзина,
                                    {% if user.first_name %}
                                        {{ user.first_name }}
                                    {% else %}
                                        Пользователь
                                    {% endif %}
                                </h2>
                            </div>
                            <!-- Start Table -->
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <td class="text-center">Фото</td>
                                            <td class="text-left">Наименование</td>
                                            <td class="text-left">Модель</td>
                                            <td class="text-left">Количество</td>
                                            <td class="text-right">Цена</td>
                                            <td class="text-right">Итого</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in basket_items %}
                                            <tr>
                                                <td class="text-center">
                                                    <a href="#"><img class="img-thumbnail" src="{{ item.product.image.url }}" alt="product_img" /></a>
                                                </td>
                                                <td class="text-left">
                                                    <a href="{% url 'main:product_details' item.product.pk %}">{{ item.product.name }}</a>
                                                </td>
                                                <td class="text-left">{{ item.product.model }}</td>
                                                <td class="text-left">
                                                    <div class="btn-block cart-put">
                                                        <input class="form-control" type="number" placeholder="{{ item.quantity }}" />
                                                        <div class="input-group-btn cart-buttons">
                                                            <button class="btn btn-primary" data-toggle="tooltip" title="Update">
                                                                <i class="fa fa-refresh"></i>
                                                            </button>
                                                            <button class="btn btn-danger" data-toggle="tooltip" title="Remove">
                                                                <i class="fa fa-times-circle"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="text-right">{{ item.product.price }}</td>
                                                <td class="text-right">{{ item.get_product_cost}}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- End Table -->
                            <!-- Accordion end -->
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-8">
                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <td class="text-right">
                                                    <strong>Всего штук:</strong>
                                                </td>
                                                <td class="text-right">{{ basket_items.0.get_total_quantity }}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-right">
                                                    <strong>Итого:</strong>
                                                </td>
                                                <td class="text-right">{{ basket_items.0.get_total_cost }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="shopping-checkout">
                                <a href="{% url 'main:category' %}" class="btn btn-default pull-left">Продолжить покупки</a>
                                <a href="{% url 'main:checkout' %}" class="btn btn-primary pull-right">Checkout</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Shopping-Cart -->
            </div>
        </div>
    </div>
{% endblock %}