{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}

    <div class="container">
        {% include 'mainapp/includes/inc-navi.html' %}
        <div class="row">
            <div class="col-md-3">
                <!-- CATEGORY-MENU-LIST START -->
                {% include 'mainapp/includes/inc-left_category.html' %}
                <!-- END CATEGORY-MENU-LIST -->
                <!-- START SMALL-PRODUCT-AREA -->
                {% include 'mainapp/includes/inc-left_bestseller.html' %}
                <!-- END SMALL-PRODUCT-AREA -->
                <!-- START SIDEBAR-BANNER -->
                {% include 'mainapp/includes/inc-left_product_banner.html' %}
                <!-- END SIDEBAR-BANNER -->
            </div>
            <div class="col-md-9 col-sm-12 col-xs-12">
                <!-- Start Toch-Prond-Area -->
                <div class="toch-prond-area">
                    <div class="row">
                        <div class="col-md-5 col-sm-5 col-xs-12">
                            <div class="clear"></div>
                            <div class="tab-content">
                                <!-- Product = display-1-1 -->
                                <div role="tabpanel" class="tab-pane fade in active" id="display-1">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="toch-photo">
                                                <a href="#"><img src="{{ product.image.url }}" data-imagezoom="true" alt="#" /></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Product = display-1-1 -->
                                <!-- Start Product = display-1-2 -->
                                <div role="tabpanel" class="tab-pane fade" id="display-2">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="toch-photo">
                                                <a href="#"><img src="{% static 'img/toch/2.jpg' %}" data-imagezoom="true" alt="#" /></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Product = display-1-2 -->
                                <!-- Start Product = di3play-1-3 -->
                                <div role="tabpanel" class="tab-pane fade" id="display-3">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="toch-photo">
                                                <a href="#"><img src="{% static 'img/toch/3.jpg' %}" data-imagezoom="true" alt="#" /></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Product = display-1-3 -->
                                <!-- Start Product = di3play-1-4 -->
                                <div role="tabpanel" class="tab-pane fade" id="display-4">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="toch-photo">
                                                <a href="#"><img src="{% static 'img/toch/4.jpg' %}" data-imagezoom="true" alt="#" /></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Product = display-1-4 -->
                            </div>
                            <!-- Start Toch-prond-Menu -->
                            <div class="toch-prond-menu">
                                <ul role="tablist">
                                    <li role="presentation" class=" active"><a href="#display-1" role="tab" data-toggle="tab"><img src="{% static 'img/toch/1.jpg' %}" alt="#" /></a></li>
                                    <li role="presentation"><a href="#display-2" role="tab" data-toggle="tab"><img src="{% static 'img/toch/2.jpg' %}" alt="#" /></a></li>
                                    <li role="presentation"><a href="#display-3"  role="tab" data-toggle="tab"><img src="{% static 'img/toch/3.jpg' %}" alt="#" /></a></li>
                                    <li role="presentation"><a href="#display-4"  role="tab" data-toggle="tab"><img src="{% static 'img/toch/4.jpg' %}" alt="#" /></a></li>
                                </ul>
                            </div>
                            <!-- End Toch-prond-Menu -->
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <h2 class="title-product">{{ product.name }}</h2>
                            <div class="about-toch-prond">
                                <p>
                                    <span class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                    </span>
                                    <a href="#">1 reviews</a>
                                    /
                                    <a href="#">Write a review</a>
                                </p>
                                <hr />
                                <p class="short-description">{{ product.description }}</p>
                                <hr />
                                <span class="current-price">{{ product.price }}</span>
                                <span class="item-stock">Доступно для заказа:
                                    <span class="text-stock">{{ product.quantity }} - шт</span>
                                </span>
                            </div>
                            <div class="product-quantity">
                                <a href="{% url 'basket:add' product.pk %}">
                                    <button type="submit" class="toch-button toch-add-cart">Add to Cart</button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Start Toch-Box -->
                    <div class="toch-box">
                        <div class="row">
                            <div class="col-xs-12">
                                <!-- Start Toch-Menu -->
                                <div class="toch-menu">
                                    <ul role="tablist">
                                        <li role="presentation" class=" active"><a href="#description" role="tab" data-toggle="tab">Description</a></li>
                                        <li role="presentation"><a href="#reviews" role="tab" data-toggle="tab">Reviews (1)</a></li>
                                    </ul>
                                </div>
                                <!-- End Toch-Menu -->
                                <div class="tab-content toch-description-review">
                                    <!-- Start display-description -->
                                    <div role="tabpanel" class="tab-pane fade in active" id="description">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="toch-description">
                                                    <p>Nunc facilisis sagittis ullamcorper. Proin lectus ipsum, gravida et mattis vulputate, tristique ut lectus. Sed et lorem nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean eleifend laoreet congue. Vivamus adipiscing nisl ut dolor dignissim semper. Nulla luctus malesuada tincidunt.
                                                    Nunc facilisis sagittis ullamcorper. Proin lectus ipsum, gravida et mattis vulputate, tristique ut lectus. Sed et lorem nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean eleifend laoreet congue. Vivamus adipiscing nisl ut dolor dignissim semper. Nulla luctus malesuada tincidunt.
                                                    Nunc facilisis sagittis ullamcorper. Proin lectus ipsum, gravida et mattis vulputate, tristique ut lectus. Sed et lorem nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean eleifend laoreet congue. Vivamus adipiscing nisl ut dolor dignissim semper. Nulla luctus malesuada tincidunt.
                                                    Nunc facilisis sagittis ullamcorper. Proin lectus ipsum, gravida et mattis vulputate, tristique ut lectus. Sed et lorem nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean eleifend laoreet congue. Vivamus adipiscing nisl ut dolor dignissim semper. Nulla luctus malesuada tincidunt.
                                                    Nunc facilisis sagittis ullamcorper. Proin lectus ipsum, gravida et mattis vulputate, tristique ut lectus. Sed et lorem nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean eleifend laoreet congue. Vivamus adipiscing nisl ut dolor dignissim semper. Nulla luctus malesuada tincidunt.
                                                    Nunc facilisis sagittis ullamcorper. Proin lectus ipsum, gravida et mattis vulputate, tristique ut lectus. Sed et lorem nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean eleifend laoreet congue. Vivamus adipiscing nisl ut dolor dignissim semper. Nulla luctus malesuada tincidunt.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End display-description -->
                                    <!-- Start display-reviews -->
                                    <div role="tabpanel" class="tab-pane fade" id="reviews">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="toch-reviews">
                                                    <div class="toch-table">
                                                        <table class="table table-striped table-bordered">
                                                            <tbody>
                                                                <tr>
                                                                    <td><strong>{{ all_reviews.0.name }}</strong></td>
                                                                    <td class="text-right"><strong>{{ all_reviews.0.date }}</strong></td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="2">
                                                                        <p>{{ all_reviews.0.text }}</p>
                                                                        <span><i class="fa fa-star"></i></span>
                                                                        <span><i class="fa fa-star"></i></span>
                                                                        <span><i class="fa fa-star"></i></span>
                                                                        <span><i class="fa fa-star"></i></span>
                                                                        <span><i class="fa fa-star-o"></i></span>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="toch-review-title">
                                                        <h2>Write a review</h2>
                                                    </div>
                                                    <div class="review-message">
                                                        <div class="col-xs-12">
                                                            <p><sup>*</sup>Your Name <br>
                                                                <input type="text" class="form-control" />
                                                            </p>
                                                            <p><sup>*</sup>Your message <br>
                                                                <textarea class="form-control"></textarea>
                                                            </p>
                                                        </div>
                                                        <div class="help-block">
                                                            <span class="note">Note:</span>
                                                             HTML is not translated!
                                                        </div>
                                                        <div class="get-rating">
                                                            <span><sup>*</sup>Rating </span>
                                                            Bad
                                                            <input type="radio" value="1" name="rating" />
                                                            <input type="radio" value="2" name="rating" />
                                                            <input type="radio" value="3" name="rating" />
                                                            <input type="radio" value="4" name="rating" />
                                                            <input type="radio" value="5" name="rating" />
                                                            Good
                                                        </div>
                                                        <div class="buttons clearfix">
                                                            <button class="btn btn-primary pull-right">Continue</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Product = display-reviews -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Toch-Box -->
                    <!-- START PRODUCT-AREA -->
                    <div class="product-area">
                        <div class="row">
                            <div class="col-xs-12 col-md-12">
                                <!-- Start Product-Menu -->
                                <div class="product-menu">
                                    <div class="product-title">
                                        <h3 class="title-group-2 gfont-1">Related Products</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Product-Menu -->
                        <div class="clear"></div>
                        <!-- Start Product -->
                        <div class="product carosel-navigation">
                            <div class="row">
                                <div class="active-product-carosel">

                                    {% for product in related_products %}
                                        <div class="col-xs-12">
                                            <div class="single-product">
                                                <div class="product-img">
                                                    <a href="#">
                                                        <img class="primary-img" src="{{ product.image.url }}" alt="Product">
                                                    </a>
                                                </div>
                                                <div class="product-description">
                                                    <h5><a href="#">{{ product.name }}</a></h5>
                                                    <div class="price-box">
                                                        <span class="price">{{ product.price }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}

                                </div>
                            </div>

                        </div>
                        <!-- End Product -->
                    </div>
                    <!-- END PRODUCT-AREA -->
                </div>
                <!-- End Toch-Prond-Area -->
            </div>
        </div>
    </div>

{% endblock %}